{% extends 'base.html.twig' %}

{% block title %}Liste des PDF{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
{% endblock %}

{% block body %}
<div class="pdf-list-wrapper">
    <h1>Liste des PDF</h1>
    <ul>
        {% for pdf in pdfFiles %}
            <li><a href="{{ asset('pdf/' ~ pdf) }}" target="_blank">{{ pdf }}</a></li>
        {% else %}
            <li>Aucun fichier PDF trouvé.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
<!-- Any additional JavaScript can be added here -->
{% endblock %}
