{% extends 'base.html.twig' %}

{% block title %}Liste des PDF{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/body.css') }}">
    <link rel="stylesheet" href="{{ asset('css/liste_pdf.css') }}">
{% endblock %}

{% block body %}
<div class="pdf-list-wrapper">
    <h1 class="mb-4">Liste des PDF</h1>
    <ul class="list-group">
        {% for pdf in pdfFiles %}
            <li class="list-group-item">
                <a href="{{ asset('pdf/' ~ pdf) }}" target="_blank">{{ pdf }}</a>
            </li>
        {% else %}
            <li class="list-group-item">Aucun fichier PDF trouvé.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascripts %}
<!-- Any additional JavaScript can be added here -->
{% endblock %}
