<div class="sidebar bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Menu</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item">Page d'acueil</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item">Tout les PDF</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item">Faire une facture</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item">Laire un devis</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item"> Payer</a>
        <a href="#" class="list-group-item list-group-item-action bg-light sidebar-item"> Non Payer</a>

    </div>
</div>
